*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: lightcoral;
    text-align: center;
}
h1
{
    font-family: Verdata, sans-serif;
    padding: 150px;
}